@import "normalize"
@import "variables"

html, body
	font-family: 'Raleway', sans-serif
	background: #fff

/* header styles */

.header
	padding-top: 35px
	background: url('../img/header/hero.jpg') center / cover no-repeat
	height: 100vh

.menu
	
	&__list
		list-style: none
		margin: 0
		padding-left: 0
	
	&__item
		margin-right: 24px

	&__link
		text-decoration: none
		color: #fff
		font-family: $montserrat
		font-size: 14px
		font-weight: 300

		&:hover
			transition: all .3s
			color: $hover_brown

.slogan
	padding-top: 23vh
	margin: auto
	text-align: center

	&__title
		color: #fff
		font-family: $raleway
		font-size: 36px
		font-weight: 300
		margin: 0

	&__name
		color: #fff
		font-family: $raleway
		font-size: 52px
		font-weight: 800
		margin-top: 14px
		margin-bottom: 19px

	&__desc
		color: #fff
		font-family: $montserrat
		font-size: 16px
		font-weight: 300
		line-height: 24px

	&__btn
		margin-top: 52px
	
.primary-btn
	width: 170px
	margin: auto
	box-shadow: inset 0 -3px 0 darken($primary, 15%)
	border-radius: 3px
	background-color: $primary
	display: block
	padding: 15px 0
	color: #fff
	font-family: $raleway
	font-size: 14px
	font-weight: 700
	line-height: 23px
	text-transform: uppercase
	text-decoration: none
	text-align: center

	&:active
			transition: all .2s
			background-color: darken($primary, 10%)
			box-shadow: inset 0 3px 0 darken($primary, 15%)

#services
	padding: 80px 0 80px 0

.services
	
	&__icon
		min-height: 53px

	&__item
		text-align: center

		&:hover .services__svg
			transition: all .3s
			fill: $hover_brown

		&:hover .services__title
			transition: all .3s
			color: $hover_brown
		
		&:hover .services__border
			transition: all .3s
			background: $hover_brown

	&__title
		margin: 30px 0 20px 0
		color: #555555
		font-family: $raleway
		font-size: 22px
		font-weight: 800

	&__text
		color: #8c8c8c
		font-family: $montserrat
		font-size: 14px
		font-weight: 300
		line-height: 24px

	&__border
		margin-top: 30px
		width: 70px
		margin: auto
		height: 3px
		background-color: #f1eee9

.ideas
	padding-top: 60px
	text-align: center
	background-color: #fbfaf8
	
	&__title
		color: #555555
		font-family: $raleway
		font-size: 30px
		font-weight: 700
		margin: 0

	&__text
		margin: 25px auto 40px auto
		max-width: 760px
		color: #8c8c8c
		font-family: $montserrat
		font-size: 16px
		font-weight: 300
		line-height: 28px

	&__browser
		max-width: 1230px
		margin: auto
		margin-bottom: -4px;

		img
			width: 100%

.theme
	padding: 50px 0
	background-color: #f4f5f8
	background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%)
	
	&__title
		color: #ffffff
		font-family: $raleway
		font-size: 28px
		font-weight: 400
		margin: 0
		text-align: left
		
		&--letter
			color: $hover_brown

	&__text
		color: #615855
		font-family: $montserrat
		font-size: 18px
		font-weight: 300
		text-align: left

#projects
	padding: 80px 0 80px 0

.projects
	
	&__title
		color: #555555
		font-family: $raleway
		font-size: 30px
		font-weight: 700
		text-align: center
		margin: 0 auto 24px auto

	&__text
		max-width: 760px
		margin: auto
		color: #8c8c8c
		font-family: $montserrat
		font-size: 16px
		font-weight: 300
		line-height: 28px
		text-align: center
		margin-bottom: 40px

	&__btns
		max-width: 605px
		margin: auto
		display: flex

	&__btn
		margin-right: 10px
	
	&__items
		padding-top: 40px

	&__item
		padding-bottom: 25px

		&--container
			margin-top: -4px;
			padding: 20px
			background-color: #fbfaf8
			position: relative

	&__img img
	    width: 100%
	    position: relative
	    top: 0
	    left: 0

	&__buttons
	    position: absolute
	    top: 35%
	    left: 50%
	    transform: translate(-50%, -50%)

	&__fa
	    border-radius: 50%
	    display: inline-block
	    font-size: 16px
	    text-align: center
	    text-decoration: none
	    width: 40px
	    height: 40px
	    position: relative
	    transform: rotateZ(360deg) scale(0)
	    transition: transform 0.3s

	&__fa-link
	    transform-origin: 105% 50%

	&__fa-search
	    transform-origin: -5% 50%

	&__item:hover .projects__buttons .projects__fa
	    transform: rotateZ(0deg) scale(1)

	&__item:hover .projects__item--container
		transition: all .3s
		background: #362f2d
	
	&__triangle
		position: absolute
		top: -10px
		width: 0
		height: 0
		border-left: 15px solid transparent
		border-right: 15px solid transparent
		border-bottom: 10px solid #fbfaf8

	&__item:hover .projects__triangle
		transition: all .3s
		border-bottom: 10px solid #362f2d
	
	&__overlay
		background: #000
		z-index: 100

	&__img

		img
			width: 100%

	&__name
		color: $hover_brown
		font-family: $raleway
		font-size: 20px
		font-weight: 500
		margin-bottom: 5px

	&__item:hover .projects__name
		color: #fff

	&__author
		color: #d1d1d1
		font-family: $montserrat
		font-size: 14px
		font-weight: 300
		line-height: 20px

	&__item:hover .projects__author
		color: $hover_brown

	
	
.normal-btn
	display: block
	padding: 6px 20px
	border-radius: 3px
	border: 1px solid #ebebeb
	color: #8c8c8c
	font-family: $montserrat
	font-size: 14px
	font-weight: 300
	line-height: 21px
	text-decoration: none

.normal-btn.active
	border-radius: 3px
	background-color: $primary
	color: #fff

.video
	background: url('../img/video/background.jpg') center no-repeat
	max-width: 1920px
	margin: auto
	height: 708px

	&__play
		text-align: center
		margin-top: 210px
		
	&__title
		color: #fff
		font-family: $raleway
		font-size: 30px
		font-weight: 500
		text-align: center
		margin-top: 44px
		
	&__text
		color: #fff
		font-family: $montserrat
		font-size: 16px
		font-weight: 300
		line-height: 28px
		text-align: center
		margin-top: 29px

	&__time
		color: $hover_brown
		font-family: $montserrat
		font-size: 14px
		font-weight: 400
		line-height: 24px
		text-align: center
		margin-top: 40px

.mobile
	padding: 80px 0 0 0

	&__title
		margin-top: 115px
		color: #555555
		font-family: $raleway
		font-size: 30px
		font-weight: 700

	&__text
		margin-top: 40px
		color: #8c8c8c
		font-family: $montserrat
		font-size: 16px
		font-weight: 300
		line-height: 28px

	&__list
		margin-top: 45px
		list-style: none
		padding-left: 30px

	&__item
		color: #8c8c8c
		font-family: $montserrat
		font-size: 16px
		font-weight: 300
		line-height: 32px
		position: relative
		padding-left: 50px

		&::before
			content: ''
			position: absolute
			width: 21px
			height: 21px
			left: 0
			top: 5px
			background: url('../img/mobile/circle.png')

#counters
	margin-top: -4px
	padding: 70px 0 43px 0
	background-color: #f4f5f8
	background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%)

.counters
	text-align: center

	&__icon
		margin-bottom: 30px

	&__number
		color: #fff
		font-family: $montserrat
		font-size: 48px
		font-weight: 200
		line-height: 36px
		margin: 21px

	&__name
		color: $hover_brown
		font-family: $montserrat
		font-size: 14px
		font-weight: 300
		line-height: 20px
		text-transform: uppercase
		margin-bottom: 30px

	&__border
		width: 30px
		margin: auto
		height: 2px
		background-color: #fff

#posts
	padding-top: 80px
	padding-bottom: 80px

.posts
	margin-top: 40px
	
	&__title
		color: #555555
		font-family: $raleway
		font-size: 30px
		font-weight: 700
		text-align: center

	&__text
		color: #8c8c8c
		font-family: $montserrat
		font-size: 16px
		font-weight: 300
		line-height: 28px
		text-align: center
		max-width: 760px
		margin: 30px auto 0 auto
	
	&__img img
		width: 100%

	&__item
		position: relative
		border: 1px solid #f8f8f8

		&--container
			margin-top: -4px
			padding: 30px

	&__item:hover .posts__item--container
		background-color: #362f2d
		transition: all .3s
	
	&__date
		position: absolute
		top: 20px
		left: 40px

	&__day
		width: 50px
		border-radius: 3px 3px 0 0
		background-color: #363636
		text-align: center
		color: #fff
		font-family: $montserrat
		font-size: 24px
		font-weight: 300
		line-height: 35px

	&__item:hover .posts__day
		background: #c7b299
		transition: all .3s

	&__month
		width: 50px
		border-radius: 0 0 3px 3px
		background-color: #252525
		color: #ffffff
		font-family: $roboto
		font-size: 12px
		font-weight: 400
		line-height: 28px
		text-align: center

	&__item:hover .posts__month
		background: #a48d72
		transition: all .3s


	&__name
		color: #555555
		font-family: $raleway
		font-size: 20px
		font-weight: 500

	&__item:hover .posts__name
		color: $hover_brown
		transition: all .3s


	&__desc
		margin-top: 20px
		color: #8c8c8c
		font-family: $montserrat
		font-size: 14px
		font-weight: 300
		line-height: 22px

	&__item:hover .posts__desc
		color: #fff
		transition: all .3s

	&__more
		display: block
		margin-top: 27px
		color: $hover_brown
		font-family: $montserrat
		font-size: 14px
		font-weight: 300
		line-height: 20px
		position: relative

		&:hover
			cursor: pointer

		&::after
			content: ''
			position: absolute
			left: 85px
			top: 6px
			width: 5px
			height: 8px
			background: url('../img/posts/arrow.png')
	